#app {
    margin: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}
.top-bar {
    width: calc(100% - 2px);
}
.chat-pan.withBar {
    height: calc(100% - 27px);
    margin-right: 1px;
    top: 1px;
}
.friend-list>div:last-child {
    margin-left: 0;
}
.opt-main>div:last-child {
    padding-top: 35px;
    height: calc(100% - 26px);
}