.home-body,
.main-body > ul,
.friend-list,
.friend-list-space,
.chat-pan,
.chat-pan > div.bg,
.editor-main,
.opt-main,
.script-view,
.opt-main > div:last-child {
    background-color: transparent !important;
    background: transparent !important;
    box-shadow: unset !important;
}

#app {
    background: rgba(var(--color-bg-rgb), 0.1) !important;
}