html {
    -webkit-tap-highlight-color: transparent;
}
.ss-card {
    border-radius: 15px;
}

#app {
    background: var(--color-card-1);
}
.main-body > ul {
    background: rgba(var(--color-card-rgb), 0.7);
    backdrop-filter: blur(10px);
}

/* 联系人列表 */
.friend-list .small {
    display: none !important;
}
.friend-list .base {
    display: flex !important;
}
.friend-list .base > span {
    font-size: 1.5rem;
}
.friend-list .base > svg {
    height: 1.3rem !important;
}
.friend-list > div:first-child label {
    height: calc(1rem + 25px);
    margin-top: 10px;
    display: flex;
}
.friend-list > div:first-child label > input {
    font-size: 1rem;
}

/* 聊天面板 */
.chat-pan > div.info > svg {
    display: none;
}

.main-body > ul {
    justify-content: space-evenly;
}
.main-body > ul > li > span {
    display: block !important;
}
.hiden-home {
    margin-left: -140px;
}
.main-body > ul > li:first-child {
    margin-top: 0;
}
.main-body > ul > li.active > span,
.main-body > ul > li.active > svg {
    background-color: transparent;
    color: var(--color-main);
}

.chat-pan {
    z-index: 21;
    box-shadow: 0 0 5px var(--color-shader);
    height: calc(100% + 35px - var(--safe-area-bottom));
}
.chat-pan > div.info {
    margin: 0 0 15px 0;
    width: calc(100% - 50px);
    padding: 15px 25px;
    padding-top: calc(var(--safe-area-top) + 15px);
}
.merge-pan {
    box-shadow: 0 0 5px var(--color-shader);
}
.merge-pan>div:last-child>div:first-child {
    margin: calc(var(--safe-area-top) + 15px) 35px 0 35px;
    flex-direction: row-reverse;
    overflow: hidden;
    padding: 0;
}
.merge-pan>div:last-child>div:first-child svg:first-child {
    display: none;
}
.merge-pan>div:last-child>div:first-child svg {
    transform: translateX(calc(-50% + 1px));
}
.merge-pan>div:last-child>div:first-child span {
    font-size: 1.5rem;
}
.chat-pan > div.bg {
    height: calc(100% - 34px - var(--append-fs-adaptation));
}
.chat-pan > div.chat {
    margin-bottom: -60px;
    padding-bottom: 60px;
}
.chat-pan > div.chat > div:first-child > div:last-child {
    padding-bottom: 70px;
}
.chat-pan > div.more {
    flex-direction: column-reverse;
    display: flex;
}
.chat-pan > div.more > div:first-child {
    background: var(--color-card-1);
}
.chat-pan > div.more > div:nth-child(2) {
    background: rgba(var(--color-card-1-rgb), 0.8);
    backdrop-filter: blur(50px);
}
.chat-pan > div.more > div:nth-child(2) > div:first-child {
    border-radius: 999px;
}
.chat-pan > div.more > div:nth-child(2) > div:nth-child(2) {
    background: transparent;
    border: 1px solid var(--color-font-2);
    opacity: 0.7;
    border-radius: 999px;
    height: 45px;
}
.chat-pan > div.more > div:nth-child(2) > div:nth-child(2) > div {
    display: none;
}

.msg-menu-body {
    max-width: 35%;
    width: 35%;
}
.chat-pan > div.new-msg {
    margin: -50px 20px 20px auto;
}

.chat-info > header {
    margin-top: calc(var(--safe-area-top));
    flex-direction: row-reverse;
    overflow: hidden;
    transform: translateX(20px);
}
.chat-info>header>span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.chat-info>header>svg {
    width: 2.2rem;
    height: 2.2rem;
    transform: translateX(calc(-50% + 0.5px));
    margin-right: -10px;
}

.more-detail {
    background: var(--color-card-1);
}
.more-detail > div {
    background: var(--color-card-2);
}
.more-detail.show {
    height: calc(var(--safe-area-bottom) + 50px);
}
.face-pan {
    position: relative;
    transform: unset;
    width: 100%;
    border-radius: 0;
    margin: 0;
}

.face-pan div.tab-main {
    flex-direction: column-reverse;
    display: flex;
}
.tab-main>div:first-child {
    padding-top: 30px;
}
.tab-main>div:first-child svg {
    font-size: 1.2rem;
}

.img-sender {
    height: calc(100% - var(--safe-area-top) - calc(var(--safe-area-bottom) + 15px));
    margin: calc(var(--safe-area-top) + 15px) 20px 0 20px;
    width: calc(100% - 40px);
}
.img-sender > div.card {
    box-shadow: 0 0 5px var(--color-shader) !important;
    border-radius: 7px !important;
}

/* 消息 */
.message-body > div {
    border-radius: 20px;
    padding: 7px 15px;
    margin-top: 10px;
}
.msg-img {
    border-radius: 20px;
    max-height: 20vh;
}
.msg-img.alone {
    max-width: calc(100% + 30px);
    margin: -10px -15px;
}

/* 设置面板 */
.tab-main>div:first-child {
    width: fit-content;
    margin: 10px auto 20px auto !important;
    border-radius: 999px;
    padding-top: 20px !important;
}
.opt-tab .tab-bar {
    margin: -17px -10px -17px -50px;
}
