:root {
    --color-blue: #316cf4;
    --color-green: #408558;
    --color-red: #cb444a;
    --color-yellow: #f6c344;

    --color-bg-blue: #393e47;
    --color-bg-green: #3f544a;
    --color-bg-red: #523a3c;
    --color-bg-yellow: #504b3d;

    --color-issue-close: #a47ff1;
}
